.modal {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.308);
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
}
.modal.close {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0.3s ease-in-out, visibility .3s .3s ease-in-out;
}
.container.modal {
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: rgb(236, 236, 236);
  padding-bottom: 15px;
  border-radius: 15px;
  opacity: 0;
  animation: fromTop 0.3s 0.2s ease-in-out forwards;
}
.container.modal.close {
  animation: toBottom 0.3s ease-in-out forwards;
}
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.buttons-container button {
  width: 100px;
  height: 30px;
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translate(-50%, -100%)
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@keyframes toBottom {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
}