.nav {
  height: 100dvh;
}
.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  position: sticky;
  top: 0;
}

.ant-menu-item {
  margin-bottom: .5rem !important;
}

.ant-menu[data-colapsed="true"] .ant-menu-item {
  padding-inline: calc((30% - 8px) - 4px) !important;
}
.ant-menu[data-colapsed="false"] .ant-menu-item {
  gap: 5px !important;
}