.icon {
  display: block;
  width: 48px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.folder.icon {
  background-image: url('../../assets/icons/folder.svg');
}
.addFolder.icon {
  background-image: url('../../assets/icons/add.svg');
}
.setting.icon {
  background-image: url('../../assets/icons/config.svg');
}