.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main {
  width: 100%;
}

.conf-section, .folders-section {
  height: 100dvh;
  width: 100%;
}

.main-content > .conf-section {
  opacity: 0;
}

.main-content > .folders-section {
  display: flex;
  flex-direction: column;
}

.folders-section > .ant-flex {
  display: flex !important;
  align-content: flex-start;
  position: relative;
  min-width: 100%;
  flex-grow: 1;
  gap: 16px;
}

.ant-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  opacity: 0;
}
.ant-empty-description {
  font-weight: 500;
  opacity: 0.7;
  color: gray !important;
}

.main[data-showconf='true'] > .main-content {
  flex-direction: column-reverse;
}
.main[data-showconf='false'] .ant-empty {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.main[data-showconf='true'] .conf-section {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.conf-section h1 {
  text-align: center;
}

.ant-pagination {
  align-self: center;
  padding-top: 0.6rem;
}
