.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main {
  width: 100%;
}

.conf-section, .folders-section {
  min-height: 100dvh;
}
.main-content > .conf-section {
  opacity: 0;
}


.folders-section {
  display: flex !important;
  position: relative;
  min-width: 100%;
}

.watermark-text {
  opacity: 0;
}

.main[data-showconf="true"] > .main-content {
  flex-direction: column-reverse;
}
.main[data-showconf="false"] .watermark-text {
  opacity: .4;
  transition: opacity .5s ease-in;
}
.main[data-showconf="true"] .conf-section {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.conf-section h1 {
  text-align: center;
}
